# macOS
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/

# Ignore dataset files
data/raw/*
data/processed/*
mastersvenv/
# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
*.parquet
