# macOS
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/

# Ignore dataset files
data/raw/*
data/processed/*
mastersvenv/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
*.parquet
subset/borg_traces_data.csv

# Generated evaluation artifacts (large)
reports/eval/GoogleCluster2019/per_execution_*.csv

__pycache__/
*.pyc

# Ignore past results (large)
#for comparison with new results, not needed to be tracked
reports/Past results 